.SideBar{
    width: 25%;
    height: 100%;
    background-color: rgb(167, 23, 167);
    border-radius: 20px 0px 0px 20px;

    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.212);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.logo_rpdr{
    width: 200px;
    height:100px;
}
.sub_title{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    height: auto;

    margin: 0;

}

.logo_area{

    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* MENU SEASONS */

.MenuSeasons{
    height: 50%;
    display: flex;
    align-items: center;
}


ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.menuSeasons_button{
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;


    font-size: 25px;
    font-weight: 700;
    color: rgb(243, 208, 11);
    padding: 10px 0px;
}


/* Redes Sociais */
.div_redes_sociais{
    display: flex;
    align-items: center;
}
.div_redes_sociais img{
    width: 45px;
    height: 45px;
    margin:15px;
}