.App {
  text-align: center;
  
}

.content{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  

}

body{
  background-image: url('assets/imgs/geral/fundo_amarelo_rosa.jpg');
}

